* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}



body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {text-decoration: none;}




#header {
    margin: 30px 0 25px;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 45px;
    border-bottom: 2px solid grey;
}

header h1 {font-size: 35px;}
header h1>p {font-size: 15px; margin: -10px 0 0 5px; color: green;}

#logo {width: 100px;}

.headerBtn {
    margin: 43px 0 0 20px;
    background: none;
    border: none;
    font-size: larger;
    font-weight: bold;
}
.headerlink {color: green; text-shadow: 0px 1px 1px greenyellow; padding: 14px; border-radius: 12px; transition: 0.4s ease;}
.headerlink:hover {background-color: maroon; color: white; text-shadow: none; border: 1px groove black;}
.headerlink:active {opacity: 0.7;}

span {color: darkred; font-style: italic; font-size: 40px;}
span b {font-size: 60px; font-style: normal;}

.headerSidebar {font-size: 33px; display: none;}




main {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    margin: 25vh 0 30vh 0;
}

#menuHead, #menuEnd {
    background-image: linear-gradient(to right, red,darkred 10%,green,darkred 90%,red );
    width: 100%;
    padding: 15px;
    margin: 33px;
    border-radius: 6px;
    text-align: center;
    color: whitesmoke;
    text-shadow: 2px 2px black;
}

#menu {
    width: 60%;
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.type {
    margin: 40px;
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    font-size: 30px;
}
#AllUCanEat {margin: 10px 10px 15px 0; font-size: 25px;}

.food {font-size: 18px; font-weight: bolder;}




form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

fieldset {
    width: 30%;
    padding: 20px;
}

input {transition: 0.35s ease-in-out;}
input:focus {box-shadow: 1px 6px 6px 0px grey;}




@media screen and (max-width:723px) {
    .headerSidebar{
        display: block;
    }
    header {margin: 50px 0 0; height: 100px; justify-content: baseline;}
}
@media screen and (max-width:889px) {
    header h1 {
        display: none;
    }
}




footer {
    bottom: 0;
    position: relative;
    text-align: center;
    background-color: black;
    padding: 5vh 0 5vh;
    margin-left: 5vw;
    color: white;
    width: 90%;
    font-weight: 600;
}

footer a {
    color: lightgrey;
    text-shadow: 1px 1px darkgray;
    transition: opacity 0.2s ease;
}
footer a:hover {opacity: 0.9;}