* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}



body {font-family: Verdana, Geneva, Tahoma, sans-serif;}

a {text-decoration: none; color: var(--color-dark1);}

input[type="text"],  input[type="email"], select, input[type="datetime-local"] {
    transition: 0.3s ease-in-out; border: none; outline: none;}
input[type="text"]:focus, input[type="email"]:focus, select:focus, input[type="datetime-local"]:focus {
    box-shadow: 0px 4px 4px 0px var(--color-dark2);
    border-bottom: 2px solid  var(--color-dark1);
}

:root {
    --color-green: #006800;
    --color-darkred: #9b2c2c;
    --color-dark1: #000;
    --color-dark2: #808080;
    --color-white1: #fff;
    --color-white2: #f5f5f5;
    --color-wheat: #f5deb3ad;
}




#header {
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    padding-bottom: 45px;
    border-bottom: 2px solid var(--color-dark2);
}

header h1 {font-size: 35px; color: var(--color-dark1);}
header h1>p {font-size: 15px; margin: -10px 0 0 5px; color: var(--color-green);}

#logo {width: 120px; display: none; margin-top: 5vh;}

.headerlink {
    background: none;
    border: none;   
    font-weight: bold;
    color: var(--color-green);
    text-shadow: 0px 1px 1px greenyellow; 
    padding: 14px; 
    border-radius: 12px; 
    transition: 0.4s ease;
}
.headerlink:hover {
    background-color: var(--color-darkred); 
    color: var(--color-white1); 
    text-shadow: 1px 1px 3px crimson;
}
.headerlink:active {opacity: 0.7;}

span {color: var(--color-darkred); font-style: italic; font-size: 40px;}
span b {font-size: 60px; font-style: normal;}

.headerSidebar {
    font-size: 33px; 
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--color-darkred);
    font-style: italic;
    margin: 35px 8vh 0 30vh;
}




#navigation {
    flex-direction: row;
    align-items: center;
    gap: 3em;
    z-index: 2;
    margin-top: 40px;
}

.sidebar {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    height: 100%;
    padding-top: 1px;
    background-color: var(--color-white1);
}



@media screen and (max-width: 750px)  {
    .headerSidebar {display: block;}
    .headerlink {width: 70%;}
    #logo {width: 150px;}

    #navigation {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-self: center;
        top: 0;
        background-color: var(--color-white2);
        border: 1px solid var(--color-darkred);
        border-radius: 8px;
        height: 100%;
        width: 35vw;
        padding: 20px;
        animation-duration: 1s;
        margin-left: -150vw;
    }
}

@keyframes showSidebar {
    from {margin-left: -150vw;}
    to {margin-left: -75vw;}
}
@keyframes closeSidebar {
    from {margin-left: -75vw;}
    to {margin-left: -150vw;}   
}

@media screen and (max-width: 889px) {
    header h1 {display: none;}
    #logo {display: inline;}
}

@media screen and (max-width: 525px) {
    .headerSidebar {margin: 35px 5vh 0 6vh;}
}




main {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    margin: 15vh 0 30vh 0;
}



footer {
    bottom: 0;
    position: relative;
    text-align: center;
    background-color: var(--color-dark1);
    box-shadow: 0px 0px 4px 2px var(--color-darkred);
    padding: 5vh 0 5vh;
    margin: 0 5vw 0 5vw;
    color: var(--color-white1);
    width: 90%;
    font-weight: 600;
}
footer a {color: var(--color-darkred);}