* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}



body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {text-decoration: none;}




#header {
    margin: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    padding-bottom: 45px;
    border-bottom: 2px solid grey;
}

header h1 {font-size: 35px;}
header h1>p {font-size: 15px; margin: -10px 0 0 5px; color: green;}

#logo {width: 100px; display: none;}

.headerlink {
    background: none;
    border: none;   
    font-weight: bold;
    color: green;
    text-shadow: 0px 1px 1px greenyellow; 
    padding: 14px; 
    border-radius: 12px; 
    transition: 0.4s ease;
}
.headerlink:hover {
    background-color: rgb(155, 44, 44); 
    color: white; 
    text-shadow: 1px 1px 3px crimson;
}
.headerlink:active {opacity: 0.7;}

span {color: darkred; font-style: italic; font-size: 40px;}
span b {font-size: 60px; font-style: normal;}

.headerSidebar {
    font-size: 33px; 
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: darkred;
    font-style: italic;
}




#navigation {
    flex-direction: row;
    align-items: center;
    gap: 3em;
    z-index: 2;
    margin-top: 40px;
}

.sidebar {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    height: 100%;
    padding-top: 1px;
    background-color: white;
}



main {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    margin: 15vh 0 30vh 0;
}

#menuHead, #menuEnd {
    background-image: linear-gradient(to right, red,darkred 10%,green,darkred 90%,red );
    width: 100%;
    padding: 15px;
    margin: 33px;
    border-radius: 6px;
    text-align: center;
    color: whitesmoke;
    text-shadow: 2px 2px black;
}

#menu {
    width: 60%;
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.type {
    margin: 40px;
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    font-size: 30px;
}
#AllUCanEat {margin: 10px 10px 15px 0; font-size: 25px;}

.food {font-size: 18px; font-weight: bolder;}




form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

fieldset {
    width: 30%;
    padding: 20px;
}

input {transition: 0.35s ease-in-out;}
input:focus {box-shadow: 1px 6px 6px 0px grey;}




@media screen and (max-width: 750px)  {
    .headerSidebar {
        display: block;
        margin: 20px 0 0 20vw;
    }
    #logo {
        margin: 4vh 0 0 30px;
        width: 130px;
    }

    #navigation {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 0;
        background-color: whitesmoke;
        border: 1px solid darkred;
        border-radius: 8px;
        height: 100%;
        width: 35vw;
        padding: 20px;
        animation-duration: 1s;
        margin-left: -150vw;
    }
}

@keyframes showSidebar {
    from {margin-left: -150vw;}
    to {margin-left: -75vw;}
}
@keyframes closeSidebar {
    from {margin-left: -75vw;}
    to {margin-left: -150vw;}   
}

@media screen and (max-width: 889px) {
    header h1 {display: none;}
    #logo {display: inline;}
}




footer {
    bottom: 0;
    position: relative;
    text-align: center;
    background-color: black;
    padding: 5vh 0 5vh;
    margin-left: 5vw;
    color: white;
    width: 90%;
    font-weight: 600;
}

footer a {
    color: lightgrey;
    text-shadow: 1px 1px darkgray;
    transition: opacity 0.2s ease;
}
footer a:hover {opacity: 0.9;}