:root {
    --color-green: #006800;
    --color-darkred: #9b2c2c;
    --color-dark1: #000;
    --color-dark2: #808080;
    --color-white1: #fff;
    --color-white2: #f5f5f5; 
    --color-wheat: #f5deb3ad;
}



h1 {text-shadow: 1px 1px 2px var(--color-dark2);}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 0 20px;
    width: 58%;
    text-shadow: 1px 1px 2px var(--color-dark2);
    border: 3px solid var(--color-wheat);
    padding: 50px;
}

fieldset {
    width: 100%;
    padding: 20px;
    border: none;
}

input[type="checkbox"] {margin: 30px 15px 16px 0; transform: scale(1.6); cursor: pointer;}

label {
    font-weight: bolder;
    font-size: 23px;
    text-shadow: 1px 1px var(--color-dark1);
}
label[for="entradas"] {color: var(--color-darkred);}
label[for="principais"] {color: var(--color-green);}
label[for="pizzas"] {color: goldenrod;}
label[for="sobremesas"] {color: violet;}
label[for="bebidas"] {color: #82cae2;}

.options {margin-bottom: 35px;}

.optName {font-size: 18px;}

.optDescription {margin-bottom: 10px;}




button {
    margin-top: 30px;
    padding: 12px;
    font-weight: bold;
    font-size: 20px;
    border: none;
    transition: ease-out 0.3s;
    cursor: pointer;
}
button:hover {
    background-color: var(--color-darkred);
    border: 1px solid maroon;
    color: var(--color-white2);
    border-radius: 8px;
    transform: scale(1.2);
} 