main {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    margin: 15vh 0 30vh 0;
}

#menuHead, #menuEnd {
    background-image: linear-gradient(to right, red,darkred 10%,green,darkred 90%,red );
    width: 100%;
    padding: 15px;
    margin: 33px 0 33px;
    border-radius: 6px;
    text-align: center;
    color: whitesmoke;
    text-shadow: 2px 2px black;
}

#menu {
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    background-color: rgba(245, 222, 179, 0.678);
    width: 100%;
    padding: 10px 0 10px;
    border-radius: 8px;
}

.type {
    margin: 75px 40px 45px 40px;
    font-size: 30px;
    text-align: center;
    text-shadow: 1px 1px green;
    box-shadow: 1px 4px 4px darkred;
    width: 40%;
}
#AllUCanEat {margin: 75px 10px 15px 0; font-size: 28px; text-shadow: 1px 0px black; width: 60%;}
.freeFood {
    font-size: 18px;
    font-weight: bolder; 
    margin: 25px 0 35px; 
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.274);
}

.food {
    width: 70%;
    font-size: 18px;
    font-weight: bolder; 
    margin: 25px 0 35px; 
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.274);
    transition: 0.53s;
}
.food:hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(128, 39, 39);
    color: whitesmoke;
    text-shadow: 1px 1px 3px black;
    cursor: pointer;
    padding: 20px;
    border-radius: 8px;
}

.last {border: none;}

.name {font-size: 24px; margin-bottom: 6px; text-shadow: 1px 0px black;}

.price {font-size: 20px; margin-top: 6px; color: red;}
.price b {color: green;}




#order {
    text-align: center; 
    margin: 10vh 0 10vh;
}
form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.formInfo {
    display: flex;
    flex-direction: row;
    border: 1px solid maroon;
    border-radius: 8px;
    background-color: rgba(245, 222, 179, 0.678);
}

fieldset {
    width: 30vw;
    padding: 30px 0 20px;
    border-radius: 8px;
    border: none;
}




input, select  {
    margin: 6vh 0 5vh;
    padding: 6px;
    background-color: rgba(245, 222, 179, 0.76);
    border: none;
}

label,  h1  {color: maroon;}

.orderBtn {
    margin-top: 15px;
    padding: 12px;
    background-color: wheat;
    border: none;
    transition: ease-in 0.2s;
    cursor: pointer;
}
.orderBtn:hover {
    background-color: maroon;
    border: 1px brown solid;
    color: whitesmoke;
    border-radius: 8px;
    transform: scale(1.2);
    font-weight: bold;
} 
.delivery {margin-top: -10px }




@media screen and (max-width: 780px) {
    .formInfo {flex-direction: column;}
    fieldset {width: 50vw;}
    .freeFood {width: 80%;}
}