:root {
    --color-green: #006800;
    --color-darkred: #9b2c2c;
    --color-dark1: #000;
    --color-dark2: #808080;
    --color-white1: #fff;
    --color-white2: #f5f5f5; 
    --color-wheat: #f5deb3ad;
}



main {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    margin: 15vh 0 30vh 0;
}

#menuHead, #menuEnd {
    background-image: linear-gradient(to right, red,darkred 10%,green,darkred 90%,red );
    width: 100%;
    padding: 15px;
    margin: 33px 0 33px;
    border-radius: 6px;
    text-align: center;
    color: var(--color-white2);
    text-shadow: 2px 2px var(--color-dark1);
}

#menu {
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    background-color: var(--color-wheat);
    width: 100%;
    padding: 10px 0 10px;
    border-radius: 8px;
}

.type {
    margin: 75px 40px 45px 40px;
    font-size: 30px;
    text-align: center;
    text-shadow: 1px 1px var(--color-green);
    box-shadow: 1px 4px 4px var(--color-darkred);
    width: 40%;
}

#AllUCanEat {
    margin: 75px 10px 15px 0; 
    font-size: 28px; 
    text-shadow: 1px 0px var(--color-dark1); 
    width: 60%;
}
.freeFood {
    font-size: 18px;
    font-weight: bolder; 
    margin: 25px 0 35px; 
    padding-bottom: 25px;
    border-bottom: 1px solid #80808046;
}

.food {
    width: 70%;
    font-size: 18px;
    font-weight: bolder; 
    margin: 25px 0 35px; 
    padding-bottom: 25px;
    border-bottom: 1px solid #80808046;
    transition: 0.53s;
}
.food:hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-darkred);
    color: var(--color-white2);
    text-shadow: 1px 1px 3px var(--color-dark1);
    cursor: pointer;
    padding: 20px;
    border-radius: 8px;
}

.last {border: none;}

.name {font-size: 24px; margin-bottom: 6px; text-shadow: 1px 0px var(--color-dark1);}

.price {font-size: 20px; margin-top: 6px; color:red;}
.price b {color: var(--color-green);}




#order {
    text-align: center; 
    margin: 3vh 0 25vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 45px 30px 20px 30px;
}
.formInfo {
    display: flex;
    flex-direction: row;
    border: 1px solid var(--color-darkred);
    border-radius: 8px;
    background-color: var(--color-wheat);
}

fieldset {
    width: 30vw;
    padding: 30px 0 20px;
    border-radius: 8px;
    border: none;
}




input, select  {
    margin: 6vh 0 5vh;
    padding: 6px;
    background-color: var(--color-wheat);
    border: none;
}

label,  h1  {color: var(--color-darkred); font-weight: bolder;}

#order h1 {font-size: 36px;}

.orderBtn {
    margin-top: 15px;
    padding: 12px;
    background-color: var(--color-wheat);
    border: none;
    transition: ease-in 0.2s;
    cursor: pointer;
}
.orderBtn:hover {
    background-color: var(--color-darkred);
    border: 1px solid maroon;
    color: var(--color-white2);
    border-radius: 8px;
    transform: scale(1.2);
    font-weight: bold;
} 
.delivery {margin-top: -10px }




@media screen and (max-width: 780px) {
    .formInfo {flex-direction: column;}
    fieldset {width:70vw;}
    .freeFood {width: 80%;}
    #order h1 {font-size: 30px;}
}